<h3>3</h3>
<div class="chart half">
	{{nvd3-line-with-focus-chart data=model}}
</div>
<div class="chart half">
	{{nvd3-line-with-focus-chart data=model2 customizeChart=customizeChart}}
</div>
{{outlet}}